:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.button {
  width: 80px;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 0;
  font-size: 18px;
  background-color: transparent;
  transition: transform 350ms ease-in;
}

.app {
  width: 520px;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform 350ms ease-in;
}

.button:hover,
.logo:hover {
  transform: scale(1.1);
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.menu__img {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.button.blue {
  background-color: var(--color-blue);
}

.button.yellow {
  background-color: var(--color-yellow);
}

.button.pink {
  background-color: var(--color-pink);
}

.items {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  overflow-y: auto;
}

.item {
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  margin-bottom: 6px;
}

.item__thumbnail {
  width: 50px;
  height: 50px;
  margin: 0 28px;
}

.item__description {
  font-size: 26px;
}
